<div class="conatiner servers-container">

    <div class="row  justify-content-center app-servers">
        <div class="col-6 text-center ">
            <p>Servers Container</p>
        </div>
    </div>

    <div class="row empty-space">
        <div class="col-12" style="height: 50px;"></div>
    </div>

    <div class="row justify-content-start">
        <div class="col-4 text-center app-server">
            <app-server></app-server>
        </div>
    </div>

    <div class="row empty-space">
        <div class="col-12" style="height: 50px;"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 text-center app-success-alert">
            <app-success-alert></app-success-alert>
        </div>
    </div>

    <div class="row empty-space">
        <div class="col-12" style="height: 50px;"></div>
    </div>

    <div class="row justify-content-end">
        <div class="col-4 text-center app-warning-alert">
            <app-warning-alert></app-warning-alert>
        </div>
    </div>

    <div class="row empty-space">
        <div class="col-12" style="height: 50px;"></div>
    </div>

</div>